@model Category

<div class="container w-75 mx-auto">
    <h2>New Category</h2>
    <form 
    class="shadow p-3 rounded"
    asp-controller="Category"
    asp-action="Create"
    method="POST">
    
    <div class="mb-3">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger font-weighted-bold"></span>
        <input class="form-control" asp-for="Name" />
    </div>

    <button class="btn btn-success">Create</button>
    </form>
</div>