
<div class="container">
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_NewCategory"></partial>
        </div>

        <div class="col-md">
            <partial name="_AllCategories"></partial>
        </div>
    </div>
</div>